*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.task1{
    background-color: yellow;
    width: 400px;
    height: 80px;
}
.task2{
    background-color: pink;
    width: 400px;
    height: 80px;
}